body {
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    margin: 0;
    background-color: #fff2e6;

}

.loginbar {
    background-color: rgb(167, 78, 0);
    font-size: 12px;
    color: white;
    padding: 4px 7% 4px 7%;
}

.titlebar {
    background-color: rgb(230, 136, 59);
    padding: 25px 7% 25px 7%;
    color: white;
}

.menubar {
    background-color: rgb(218, 218, 218);
    padding: 8px 7% 8px 7%;
}

.main {
    padding-top: 0%;
    margin-top: 0%;
    background-color: #fff2e6;
    box-sizing: border-box;
    padding-left: 7%;
    padding-right: 7%;
}

.blogtitle {
    padding-top: 0%;
    margin-top: 0%;
    background-color: #ffd6b3;
    box-sizing: border-box;
    padding-left: 7%;
    padding-right: 7%;
    font-size: 25px;
}

.blog {
    padding-left: 7%;
    padding-right: 7%;
}

.mybutton {
    background-color: rgb(230, 136, 59);
    border: none;
    color: white;
    text-align: center;
    font-size: 12px;
    padding: 5px 10px;
}

a.menulink {
    color: black;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 18px;
}

a.menulink:visited {
    color: black;
}

a.loginlink {
    color: white;
    font-weight: bold;
    text-decoration: none;
}

a.menulink:hover,
a.loginlink:hover {
    text-decoration: underline;
}

a.menulink:active
a.loginlink:active {
    color: slateblue;
}




a:link {
    color: red;
    font-size: 16px;
}

/* visited link */
a:visited {
    color: blueviolet;
    font-size: 16px;
}

/* mouse over link */
a:hover {
    color: hotpink;
    font-size: 16px;
}